.roominfo{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    flex-wrap: nowrap;
    flex-grow: inherit;
    /* justify-content: space-between; */
    align-items: center;
}
/* .roominfo > * {
    flex-grow: 1;
} */
.currroom{
    /* display: inline-block; */
    align-items: left;
    justify-content: left;
    height: fit-content;
    flex-grow:1;
    margin: 0px;
}
.curroomlabel{
    display: inline-block;
    flex-grow:1;
    margin: 0px;
}
.searchroom{
    flex-grow:1;
}
.order{
    flex-grow:1;
    font-size: 25px;
    position: relative;
    top: 12px;
    left: 25px;
    color: dimgray;
}
.orderrule{
    flex-grow:1;
}
.filter{
    flex-grow:1;
}
.createroom{
    flex-grow:1;
}
