.container {
    /* align-content: stretch;
    align-items: center;
    justify-content: center ;
    width: 400;
    height: 500;
    float: left;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid orange */
}